.navbar.bg-danger
  .container-fluid
    .d-flex.align-items-center
      .navbar-brand.fs-2= link_to 'LessonManager', root_path, class: 'text-decoration-none text-white'
    %ul.navbar-nav.flex-row.gap-3
      %li.nav-item= link_to '予約一覧', reservations_path, class: 'nav-link text-white fs-5'
      %li.nav-item= link_to '予約履歴', past_reservations_path, class: 'nav-link text-white fs-5'
    %ul.navbar-nav.ms-auto
      - if user_signed_in?
        %li.nav-item.d-flex
          .me-2.p-2.text-white= current_user.email
          = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark'
      - else
        %li.nav-item
          = link_to 'ログイン', new_user_session_path, class: 'btn btn-primary'
