%h1 Listing lesson_dates

%table
  %thead
    %tr
      %th Lesson
      %th Start at
      %th End at
      %th Capacity
      %th Url
      %th
      %th
      %th

  %tbody
    - @lesson_dates.each do |lesson_date|
      %tr
        %td= lesson_date.lesson
        %td= lesson_date.start_at
        %td= lesson_date.end_at
        %td= lesson_date.capacity
        %td= lesson_date.url
        %td= link_to 'Show', lesson_date
        %td= link_to 'Edit', edit_lesson_date_path(lesson_date)
        %td= link_to 'Destroy', lesson_date, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lesson date', new_lesson_date_path
