%h1.fs-2= @lesson.name

.ms-auto
  .mt-3 レッスン詳細: #{@lesson.description}
  .mt-3 講師: #{@lesson.instructor.name}

%h2.fs-3.my-5 レッスンの開催日

%table.table.table-striped.table-hover
  %thead
    %tr
      %th ID
      %th 開始日時
      %th 終了日時
      %th 予約人数
      %th 定員
      %th
  %tbody
    - @lesson.lesson_dates.future_lessons.ordered_by_start_time.each do |lesson_date|
      %tr
        %td= lesson_date.id
        %td= l(lesson_date.start_at)
        %td= l(lesson_date.end_at)
        %td= lesson_date.reservations_count
        %td= lesson_date.capacity
        %td= render 'reservation_button', lesson_date: lesson_date, lesson: @lesson
